.wrapper {
	margin: 2rem auto;
	display: flex;
	padding-top: 40px;
	height: 100%;
}
.containers {
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-bottom: 50px;
	grid-area: 150px;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 350px;
	border: 1px solid rgb(122, 39, 238);
	border-radius: 20px;
	background-color: white;
	padding: 20px 50px;
	height: 580px;
}
.wrapper > h3 {
	margin-top: 1rem;
	font-size: 1.1rem;
	font-weight: 600;
}
h3 > strong {
	font-weight: 600;
	color: #4985ff;
}
h3.bold__text {
	font-weight: 500;
	color: black;
	height: 35px;
	padding-top: 10px;
}

.contentWrap {
	height: 220px;
	word-break: break-all;
	padding-top: 25px;
}

.link {
	padding-top: 35px;
}
p {
	margin: 1rem 0;
}
a {
	color: #3669f6;
}
